<header>
    <div class="h-frete">
        <h1>Frete grátis para todo o Brasil</h1>
    </div>

    <div class="h-hero">
        <div class="layout">

            <div class="h-hero-container">
                <div class="h-hero--logo">
                    <img ngSrc="./assets/logo-jordan.png" alt="logo-jordan" width="48" height="48">
                    <p>JordanShoes</p>
                </div>

                <div class="h-hero--text">
                    <h1> A melhor loja de Jordan</h1>
                    <p>O tênis Jordan é fruto de uma velha e forte
                        parceria entre a Nike e o jogador Michael Jordan.</p>
                </div>
            </div>

        </div>
    </div>
</header>
