<main>
    <div class="layout">
        <div class="m-title">
            <h1>Os melhores em um só lugar</h1>
            <p>A marca Jordan na JordanShoes é a escolha certa para os amantes de sneakers que buscam estilo e conforto.
            </p>
        </div>

        <section class="m-product">
            <div class="m-card">
                <div class="m-card--image">
                    <img ngSrc="./assets/air-jordan-1-mid-dutch-green-1-400.svg" width="225" height="135" alt="">
                </div>
                <div class="m-card--detail">
                    <h2>Air Jordan 1 Mid Dutch Green</h2>
                    <span>Tênis Air Jordan</span>
                </div>
                <span class="m-card-price">R$ 1.199,99</span>
            </div>

            <div class="m-card">
                <div class="m-card--image">
                    <img ngSrc="./assets/air-jordan-1-high-zoom-cmft-tropical-twist-1-400.svg" width="225" height="185" alt="">
                </div>
                <div class="m-card--detail">
                    <h2>Air Jordan 1 High Zoom CMFT Tropical Twist</h2>
                    <span>Tênis Air Jordan</span>
                </div>
                <span class="m-card-price">R$ 1.049,00</span>
            </div>
            <div class="m-card">
                <div class="m-card--image">
                    <img ngSrc="./assets/air-jordan-1-retro-high-court-purple-w-1-400.svg" width="225" height="135" alt="">
                </div>
                <div class="m-card--detail">
                    <h2>Air Jordan 1 Mid Dutch Purple</h2>
                    <span>Tênis Air Jordan</span>
                </div>
                <span class="m-card-price">R$ 1.350,00</span>
            </div>
            <div class="m-card">
                <div class="m-card--image">
                    <img ngSrc="./assets/air-jordan-1-mid-light-smoke-grey-gs-1-1000.svg" width="225" height="135" alt="">
                </div>
                <div class="m-card--detail">
                    <h2>Air Jordan 1 Mid GS "Light Smoke Grey"</h2>
                    <span>Tênis Air Jordan</span>
                </div>
                <span class="m-card-price">R$ 1.585,00</span>
            </div>
            <div class="m-card">
                <div class="m-card--image">
                    <img ngSrc="./assets/air-jordan-1-mid-grey-camo-1-1000 1.svg" width="225" height="135" alt="">
                </div>
                <div class="m-card--detail">
                    <h2>Air Jordan 1 Mid Grey Camo</h2>
                    <span>Tênis Air Jordan</span>
                </div>
                <span class="m-card-price">R$ 999,99</span>
            </div>
            <div class="m-card">
                <div class="m-card--image">
                    <img ngSrc="./assets/air-jordan-1-mid-light-smoke-grey-gs-1-1000.svg" width="225" height="135" alt="">
                </div>
                <div class="m-card--detail">
                    <h2>Air Jordan 1 Mid SE Bright Citrus</h2>
                    <span>Tênis Air Jordan</span>
                </div>
                <span class="m-card-price">R$ 949,99</span>
            </div>
        </section>

    </div>
</main>
